@font-face {
    font-family: 'Cormorant_garamond';
    src: url('fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
}

*{
    font-family: sans-serif;
    
}

.navbar{
    padding-top: 0%;
    padding-bottom: 0%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra aplicada */
}

.navbar-nav{
    gap: 10%;
}

.container-fluid{
    background-color: #C0334F;
}

.dropdown-item{
    color: #FFE9EE;
}

.dropdown-menu{
    background-color: #C0334F;
}

body{
    background-color: #FFE9EE;
}


.Imagem_psicologa{
    height: 400px;
    width: 40%;
}

.Apresentacao{
    height: 400px;
    width: 100%;
    display: flex;
}

.imagem{
    height: auto;
    max-width: 100%;
    border-radius: 40px;
    max-height: 400px;
    padding: 5%;
}

.Apresentacao_psicologa{
    height: 400px;
    width: 100%;
    padding-top: 1%;
    color: #C0334F;
    font-size: 20px;
    text-indent: 5%;
}

.Apresentacao_psicologa h2{
    text-align: center;
}

@media(max-width:768px){
    .Apresentacao_psicologa{
        font-size: 17px;
    }
}

@media(max-width:1346px){
    .Apresentacao_psicologa{
        overflow-y:scroll;
    }
}

.card{
    background-color: #FFE9EE;
    border: none;
    color: #C0334F;
    font-size: 20px;
    text-indent: 5%;
}

.servicos{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: #C0334F;
    border: none;
    color: #FFE9EE;
    width: 100%;
}

.boas-vindas{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: flex-end;
}

.imagem-boas-vindas{
    width: 100%;
    height: auto;
    max-height: 350px;
    flex-shrink: 0;
}

.divimgboas-vindas{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.recepcao{
    width: 100%;
    height: 100%;
    text-align: center;
}

.recepcao h2{
    padding-top: 5%;
    font-size: 60px;
    color: #C0334F;
    font-weight: bold;
}

.recepcao p{
    padding-top: 5%;
    font-size: 30px;
    text-indent: 5%;
    padding-left: 5%;
    color: #C0334F;
}

.produtos{
    width: 100%;
    height: 210px;
    display: flex;
    gap: 3%;
    padding: 1%;
    justify-content: center;
}

.produto{
    border-radius: 20px;
    height: 100%;
    width: 16%;
    background-color: #C0334F;
    justify-content: center;
    display: flex;
}

.imgproduto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.produtos p{
    position: absolute;
    color: #FFE9EE;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    
}
