*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant_garamond',sans-serif;
}

@font-face {
    font-family: 'Cormorant_garamond';
    src: url(Cormorant_Garamond/CormorantGaramond-Bold.ttf);
}

#cabecalho{
    background-color: #FFE9EE;
    color: white;
    height: 132px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
#div1{
    height: 500px;
    background-color: #C0334F;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 132px;
}


#div2{
    height: 800px;
    background-color: #C0334F;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div3{
    height: 600px;
    background-color: #C0334F;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div4{
    height: 1600px;
    background-color:#C0334F;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div5{
    height: 500px;
    color: black;
    background-color: white;
}

#div6{
    height: 400px;
    color: white;
    background-color: black;
}

#pes{
    height: 600px;
    color: black;
    background-color: white; 
}

#perguntas{
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin-top: 20px;
    width: 100%;
    height: 80%;
}

#respostas{
    background-color: white;
    width: 50%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sim{
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #C0334F;
    background-color: #FFE9EE;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#nao{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C0334F;
    width: 100%;
    height: 50%;
    font-size: 40px;
    background-color: transparent;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFE9EE;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#comecar{
    width: 100%;
    height: 30%;
    color: #C0334F;
    border-radius: 20px;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#comecar_DASS21{
    width: 475px;
    height: 60px;
    border-radius: 20px;
    color: #C0334F;
    background-color: #FFE9EE;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}


#questionario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    color: #FFE9EE;
    background-color: transparent;
    flex-direction: row;
}

#resposta{
    width: 400px;
    height: 100px;
    background-color: transparent;
}

#TDAH{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: 'Cormorant_garamond',sans-serif;
    font-size: 20px;
}

#Logo{
    padding-left: 200px;
}

#dass21{
    width: 500px;
    height: 500px;
    display: flex;
    background-color:#C0334F;
    flex-direction: column ;
}

#perguntas_DASS21{
    width: 500px;
    height: 200px;
    display: flex;
    color:#FFE9EE;
}

#respostas_DASS21{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#opcoes_DASS21{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    font-family:'cormorant_garamond',sans-serif;
    font-size: large;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#botao_0_dass21{
    width: 100%;
    height: 25%;
    border-radius: 20px;
    color: #C0334F;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#botao_1_dass21{
    width: 100%;
    height: 25%;
    border-radius: 20px;
    color: #C0334F;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#botao_2_dass21{
    width: 100%;
    height: 25%;
    border-radius: 20px;
    color: #C0334F;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#botao_3_dass21{
    width: 100%;
    height: 25%;
    border-radius: 20px;
    color: #C0334F;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

#teste_autismo{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    color:#FFE9EE;
}

#teste_autismo_perguntas{
    width: 500px;
    height: 200px;
    background-color: transparent;
    display: flex;
    gap: 20px;
    font-size: 22px;
    text-indent: 20px;
}

#teste_autismo_respostas{
    width: 500px;
    height: 200px;
    background-color: transparent;
}

.autismo_botao{
    width: 275px;
    height: 60px;
    border-radius: 20px;
    color: #C0334F;
    font-size: 25px; 
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
}

.autismo_botao_opcoes{
    width: 100%;
    height: 25%;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #E9AFBE;
    color:#C0334F;
    font-size: 20px;
}

#altas_habilidades{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

#perguntas_altas_habilidades{
    width: 500px;
    height: 200px;
    background-color: transparent;
    display: flex;
    gap: 20px;
    color:#FFE9EE;
    text-indent: 8px;
}

#respostas_altas_habilidades{
    width: 500px;
    height: 200px;
    background-color: transparent;
}

.habilidades_botao_opcoes{
    width: 100%;
    height: 33.3%;
    border-radius: 20px;
    border-width: 2px;
    border-color: #E9AFBE;
    color:#C0334F;
    font-size: 20px;
}


